.form_container {
    text-align: center;
}
form {
    display: inline-block;
}

label{
    display: inline-block;
    width:100px;
    text-align: right;
}

input{
    margin: 10px;
}

p{
    margin: 0px;
    display: inline-block;
    text-align: right;
}

h2 {
    margin: 5px;
    display: inline-block;
}

.button {
    margin: 10px;
    float: right;
    border: 3px outset;
}

footer{
    display: flex;
    justify-content: center;
}