table{
    margin: auto;
}

td{
    border-style: outset;    
    width: 200px;
    height: 150px;
    text-align: center;
}

tr{
    display: inline-block;
    margin:20px;
}

#container{
    width: 90%;
    margin: auto;
}

tbody{
    margin:auto;
}

h2 {
    margin: 5px;
    display: inline-block;
}

button {
    margin: 10px;
    float: right;
    border: 3px outset;
}

footer{
    display: flex;
    justify-content: center;
}
